<!DOCTYPE html>
<html>

  <head>

    <meta charset='utf-8' />
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.user }} - {{site.username }} - {{ page.prjname }} - {{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords }}">
    <title>{{ page.prjname}} @ GitHub by {{ site.username }}</title>
    
{% include css.inc %}
    
  </head>

  <body id="yaml-top" class="doc">
  	<!-- skip link navigation -->
	<ul class="ym-skiplinks">
	  <li><a class="ym-skip" href="#level2">Skip to navigation (Press Enter)</a></li>
	  <li><a class="ym-skip" href="#about">Skip to main content (Press Enter)</a></li>
	</ul>
	
	<div id="intro-2" role="contentinfo">
	  <div class="ym-grid linearize-level-2">
	  	<div class="ym-g33 ym-gl">
	  	  <div class="ym-gbox">
	  	  	<div class="ym-gbox-left">
	  	  		<a href="{{ page.baseptr }}/">{{ site.user }}</a>
	  	  		@ <a href="https://github.com/{{ site.user }}">GitHub</a>
	  	    </div>
	  	  </div>
	  	</div>
	  	<div class="ym-g33 ym-gl">
	  	  <div class="ym-gbox">
	  	  	<div class="ym-gbox-center">
	  	  		<a href="{{ page.baseptr }}/index.html#projects">Projects</a><br>
	  	    </div>
	  	  </div>
	  	</div>
        <div class="ym-g33 ym-gr">
          <div class="ym-gbox-right">
          	<a href="{{ page.baseptr }}/{{ page.prjname }}">{{ page.prjname }}</a> 
          	@ <a href="https://github.com/{{ site.user }}/{{ page.prjname }}">GitHub</a>
          </div>
       </div>
     </div> 
   </div>

    <header role="banner">
      <div class="ym-wrapper">
        <div class="ym-wbox">
            <h2>{{ page.prjname }}</h2>
            <p>{{ page.prjdesc }}</p>
        </div>
      </div>
    </header>
    
    <!-- begin: main navigation #nav -->
    <nav id="level2"  role="navigation">
      <div class="ym-wrapper">
        <div class="ym-wbox">
          <div class="ym-hlist">
            <ul>
            	{% for tab_name in page.hnav %}
            		{% if forloop.index == 1 %}
              			<li class="active"><a href="#{{ tab_name | downcase | replace:' ','_' }}">{{ tab_name }}</a>
              		{% else %}
              			<li><a href="#{{ tab_name | downcase | replace:' ','_' }}">{{ tab_name }}</a>
              		{% endif %}
              	{% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </nav>
    
    <div id="main" class="ym-clearfix" role="main">
	  <div class="ym-wrapper">
		<div class="ym-wbox">
			{{ content }}
		</div>
	  </div>
	</div>	


	<footer role="contentinfo">
      <div class="ym-wrapper">
        <div class="ym-wbox">
          <div class="ym-grid linearize-level-2">
          	<div class="ym-g66 ym-gl">
			  <div class="ym-gbox-left">
		        <p>{{ page.prjname }} maintained 
		          by <a href="{{ page.baseptr }}/">{{ site.user }}</a>
		          @ <a href="https://github.com/{{ site.user}}/">GitHub</a><br>
		          Last Update: {{site.time}}
		          </p>
		      </div>
		    </div>
		    <div class="ym-g33 ym-gr">
			  <div class="ym-gbox-right">
	            <p>Layout based on <a href="http://www.yaml.de">YAML</a></p>
	          </div>
		    </div>
	      </div>
        </div>
      </div>
    </footer>
  
{% include js.inc %}

  </body>

</html>
