<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="{{ page.user }} - {{page.username }} - {{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords }}">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <title>{{ page.user}} @ GitHub - {{ page.username }}</title>
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23944587-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/{{ page.user }}/">View on GitHub</a>

          <h1 id="project_title">{{ page.user}} - {{page.username}}</h1>
          <h2 id="project_tagline">{{ page.description }}</h2>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
      	
      	{{ content }}

      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Page maintained 
        	by <a href="http://{{ page.user}}.github.com">{{ page.user }}</a>
        	@ <a href="https://github.com/{{ page.user}}/">GitHub</a></p>
        <p>Last Update: {{site.time}}</p>
      </footer>
    </div>

  </body>
</html>
